* {
    margin: 0;
    padding: 0;
}


.global-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: solid black 5px;
}
.grid-row {
    display: flex;
}
.grid-pixel {
    background-color: rgb(164, 161, 167);
    border: solid rgb(201, 110, 103) 1px;   
}
.active {
    background-color: rgb(238, 185, 70);
}
.menu {
    display: flex;
    gap: 25px;
}
.slide-container {
    display: flex;
    flex-direction: column;
    width: 120px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.slide-btn {
    width : 50px;
}